div.jumbotron {
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.card-head {
  display: flex;
  justify-content: space-between;
}

.card-head span {
  display: flex;
  align-items: center;
}

.card-date,
.card-time,
.card-venue {
  display: inline-block;
  margin: 0 10px;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
}

.card-bottom a {
  display: flex;
  align-items: center;
}

.read-more-link {
  /* color: blue; */
  text-decoration: underline;
  font-size: small;
  cursor: pointer;
}

a.nav-link span {
  cursor: pointer;
}

li.nav-item {
  display: flex;
  align-items: center;
}

div.card-details h3,
div.card-details h2 {
  font-size: medium;
}

li.breadcrumb-item span {
  color: green;
  text-decoration: underline;
  cursor: pointer;
}

.carousel {
  height: 360px;
}

div.footer ul {
  list-style: none;
}

/* .home-top-image {
  height: 80vh;
  width: 100%;
  background-color: azure;
  background: url("https://res.cloudinary.com/mrmagician/image/upload/v1583792412/eced_fbfunz.png") !important;
  background-size: cover;
  background-repeat: no-repeat !important;
   background-position: center;
 } 
 */

.home-fullpage {
  height: 80vh;
}

/* Adding custom styling to the cards */
div.card {
  box-shadow: 2px 3px 3px #eee;
}

div.card:hover {
  box-shadow: 2px 16px 16px #eee;
}
