div.jumbotron {
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.card-head {
  display: flex;
  justify-content: space-between;
}

.card-head span {
  display: flex;
  align-items: center;
}

.card-date,
.card-time,
.card-venue {
  display: inline-block;
  margin: 0 10px;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
}

.card-bottom a {
  display: flex;
  align-items: center;
}

.card-bottom span {
  color: green;
  cursor: pointer;
}

.card-bottom span:hover {
  text-decoration: underline;
}

.read-more-link {
  color: rgb(77, 77, 77) !important;
  text-decoration: underline;
  font-size: small;
  cursor: pointer;
}

a.nav-link span {
  cursor: pointer;
}

li.nav-item {
  display: flex;
  align-items: center;
}

div.card-details h3,
div.card-details h2 {
  font-size: medium;
}

li.breadcrumb-item span {
  color: green;
  text-decoration: underline;
  cursor: pointer;
}

.carousel {
  height: 360px;
}

div.footer ul {
  list-style: none;
}

/* .home-top-image {
  height: 80vh;
  width: 100%;
  background-color: azure;
  background: url("https://res.cloudinary.com/mrmagician/image/upload/v1583792412/eced_fbfunz.png") !important;
  background-size: cover;
  background-repeat: no-repeat !important;
   background-position: center;
 } 
 */

.homepage {
  font-family: cursive;
}
.home-fullpage {
  /* min-height: 70vh; */
  margin-top: 16px;
}

div.back-image-dcrust {
  background-color: azure;
  background: url("https://res.cloudinary.com/mrmagician/image/upload/v1583833006/dcrust_sryk7q.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat !important;
  background-position: center;

  position: fixed;
  top: 100px;
  /* left: 40%;
  right: 30%; */
  margin: auto;
  min-width: 100%;
  min-height: 50%;
  z-index: -1;
  opacity: 0.2;
  filter: alpha(opacity=20);

  /* min-height: -webkit-fill-available; */
}

/* Adding custom styling to the cards */
div.card {
  box-shadow: 2px 3px 3px #eee;
}

div.card:hover {
  box-shadow: 2px 16px 16px rgb(235, 243, 237);
}

.homepage div.particle-js-homepage {
  position: static;
  height: 100%;
  /* width: 100%; */
}

div.carousel {
  height: 50vh;
}

.carousel img {
  height: 50vh;
  width: 100%;
}

/* about section ***********************/
#about {
  background: rgb(68, 65, 65)
    url("https://res.cloudinary.com/mrmagician/image/upload/v1583987903/about-bg_1_eliru2.jpg");
  background-size: cover;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding: 60px 0 40px 0;
}

#about:before {
  content: "";
  background: rgba(13, 20, 41, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#about h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

#about h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
}

#about p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #fff;
}

/* about section ends *********************/
